@model pCMS.Models.ProductDetailModel

<link type="text/css" rel="stylesheet" href="@Url.Content("~/Scripts/tn3gallery/skins/tn3/tn3.css")"></link>
<script type="text/javascript" src="@Url.Content("~/Scripts/tn3gallery/js/jquery.tn3lite.min.js")"></script>
<style type="text/css">
    #content {width:620px; margin:0px auto;}
    #desc {margin:10px; float:left; font-family: Arial, sans-serif; font-size: 12px;}
    #tabs-1 {padding: 0.3em 0em;}
</style>
@*
<div id="DivCompany" style="width: 681px; height: 536px; margin: 7px;">
    <div class="DivPageContent" style="height: 534px; border: 1px #efefef solid;">
        <div align="justify" class="ContentInfo" style="height: 493px; overflow: auto;">
            <h2>@Model.Title</h2>
            @Html.Raw(Model.Body)
        </div>
    </div>
</div>*@
<script type="text/javascript">
    $(function () {
        $("#tabs").tabs();
    });
</script>



<div class="demo">
    <div class="mygallery">
        <div class="tn3 album">
            <h4>Fixed Dimensions</h4>
            <div class="tn3 description">Images with fixed dimensions</div>
            <div class="tn3 thumb">images/35x35/1.jpg</div>
            <ol>
                @foreach (var picture in Model.Pictures)
                {
                    <li>
                        <h4>@picture.Title</h4>
                        <div class="tn3 description">@Html.Raw(picture.Description)</div>
                        <a href="@picture.PictureUrl">
                            <img src="@picture.PictureThumbnailUrl" alt="@picture.Title" />
                        </a>
                    </li>
                }
            </ol>
        </div>

</div><!-- End demo -->



<div class="demo-description" style="display: none; ">
<p>Click tabs to swap between content that is broken into logical sections.</p>
</div><!-- End demo-description -->

<script type="text/javascript">
$(document).ready(function () {
    var $mytn3 = $('.mygallery').tn3({
        skinDir: "@Url.Content("~/Scripts/tn3gallery/skins/")",
        skin: ["tn3e"],
        width: 695,
        height:550,
        imageClick: "next",
        image: {
            maxZoom: 1.5,
            clickEvent: "click",
            transitions: [{
                type: "fade",
                easing: "swing",
                duration: 500
            }]
        }
    }).data('tn3');
    $(".hack").attr("style",'width: 40px; height: 18px; right: 53px; bottom: 14px; position: absolute; cursor: pointer; text-align:center; color:white;font-weight:bold;');
    $(".hack").text("Back");
    $(".hack").click(function() {
        window.location = "@Url.Action("ProductList",new {id = Model.CategoryAlias})";
    });
    alert($(".tn3-text-bg").length);
    $(".tn3-text-bg").appendTo(".tn3-in-image");
});
</script>