    @model pCMS.Admin.Models.CollectionModel

@{
    ViewBag.Title = T("Admin.Catalog.Collection.CreateCollection");
}

@using (Html.BeginForm(null, null,FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="section-header">
        <div class="title">
        <img src="@Url.Content("~/Content/admin/images/ico-catalog.png")" alt="" />
             @ViewBag.Title @Html.ActionLink("(" + T("Admin.Configuration.Languages.BackToList") + ")", "List")
        </div>
        <div class="options">
            <button type="submit" name="save" value="save" class="t-button">@T("Admin.Common.Save")</button>
            <button type="submit" name="save" value="save-continue" class="t-button">@T("Admin.Common.SaveContinue")</button>
        </div>
    </div>
    @Html.Partial("_CreateOrUpdate", Model)
}